body {
  margin: 0;
}

.section {
  width: auto;
  padding: 10px;
  border-top: 2px solid teal;
}

.section .label {
  font-weight: bold;
}

#sketch_url {
  width: 70%;
}

#serialmonitor.section {
  height: 278px;
}

#status.section {
  height: 278px;
}

#fromdevice_data {
  height: 246px;
  width: auto;
  clear: both;
  border: 1px solid #999999;
  overflow: scroll;
}

#todevice_data {
  border: 1px solid #999999;
  width: 70%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#todevice_send {
  width: 20%;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#status {
  overflow: scroll;
  font-size: 80%;
  font-family: monospace;
}
